<!doctype html>
<html lang="en" data-bs-theme="auto">
  {% include head/head.element.html %}

  <body class="arka">

   {% include header/svg-symbols.html %}
   {% include header/header.html %}
   {% include navigation/top.html %}

   <section class="arka__section arka__section--{{ page.background | default: "cool" }}" aria-label="Title area">

    {% if page.callout %}
    <div class="arka__content container my-4">
      {% include header/callout.html content=page.callout %}
    </div>
    {% endif %}

    <div class="arka__content arka__content--title container">
      {% include navigation/breadcrumbs.html %}
      <h1> {{ page.title }} </h1>
    </div>
   </section>

   <!-- To achieve an author-changeable full bleed background, we close the
   section and container-div tags here. The alternative was to leave them open
   in this layout file, and try closing them in the markdown file, but the
   kramdown parser does not reliably recognize closing tags before re-opening
   tags. Page authors use includes to open and close tags in the page content.
   -->

     {{ content }}

   </div>  <!-- unbalanced, but closes any open div container from content -->
   </section>  <!-- unbalanced, but closes any open section from content -->

   {% include footer/social.html %}
   {% include footer/footer.html %}

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>
