{% comment %}
  Usage:
    {% include content/fig.html url="/assets/images/example.jpg" description="This is an example image." link="https://example.com" nocaption=true %}
{% endcomment %}

<figure class="arka__figure">

  {%- assign width = include.width | default: "100%" -%}
  {% if include.link != nil %}
    <a href="{{ include.link }}" target="_blank" rel="noopener">
  {% endif %}

      <img style="display: block; max-width: {{ width }}; height: auto;"
           src="{{ site.baseurl }}{{ include.url }}"
           alt="{{ include.description | strip_html }}" />

  {% if include.link != nil %}
    </a>
  {% endif %}

  {% if include.nocaption == nil %}
  <figcaption class="arka__caption">
    {{ include.description | markdownify }}
  </figcaption>
  {% endif %}

</figure>

